<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div style="background-color: darkgrey">
        Homework - 21<br><br> task_21_1:<br> Написать сайт - предоставляет полный CRUD для работы с пользователями.
Модель пользователя состоит из id,firstname, lastname, age, profession.<br>
На главной странице отображена краткая информация(id, firstname, lastname)
о всех пользователях.<br> При нажатии на пользователя происходит перенаправление
на детализированную информацию по пользователю.<br> На детализированной странице
пользователя есть кнопки позволяющие отредактировать и удалить пользователя.<br><br>
        Задание 7 (HW):<br> После создания пользователя - перенаправлять на домашнюю страницу.
Добавить возможность переход на форму создания с домашней страницы.
    </div><br>
    {% block body %} {% endblock %}
</body>
</html>