{% extends "base.html" %}

{% block title %}HW19_01 Page{% endblock %}

{% block content %}
    <p>
        Дана форма с тремя текстовыми полями. Вернуть пользователю максимальное по длине значение поля.
        Пример: введены abc, abcdef, ab - пользователю вернется abcdef.
        Для задания требуется создать новый репозиторий.
    </p>
    <form action="" method="post">
        {% csrf_token %}
        <div class="text">
            <input type="text" name="text1" id="">
            <input type="text" name="text2" id="">
            <input type="text" name="text3" id="">
        </div>
        <h2>
            Самая длинная строка  = {{ longest }}
        </h2>
    </form>
{% endblock %}
