{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <p>
        Создать форму через django forms описывающую заказ авиабилета.
        Форма должна содержать следующие поля - имя, откуда, куда, сколько человек, дата.
        При отправке данных пользователем проверять валидность данных, если они валидны и количество
        человек равно 1 то вывести результат - "стоимость 100$", если количество человек больше 1, то стоимость
        должна считаться по формуле 100*2*количество человек. Если данные не валидны, то вывести ошибку.
    </p>
    <form action="" method="post">
    {% csrf_token %}
        {{ form }}
        <input type="submit" name="Отправить">
    </form>
    <h2>
        {{ cost }}
    </h2>
{% endblock %}

