<html>
<head>
<title>HW 19.01</title>
<style>
   .blok-center {
    position: absolute;
    width: 600px;
    height: 230px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: coral;
    border: 1px solid #000;
    padding: 10px;
    overflow: auto;
   }

   .btn1{
       font-size: 30px;
   }

   .label1{
       font-family: Arial;
       font-size: 30px;
       padding-left: 60px;
   }
</style>
</head>
<body>
<a href="{% url 'index' %}" class="button">На главную</a>
<h1 align="center">Homework 19.01</h1>
<div class="blok-center">
<form method="post", action="">
    {% csrf_token %}
    <label for="message01">Message 1</label>
    <input class="input" name="message01" id="message01" style="width:100%" /></p>
    <label for="message02">Message 2</label>
    <input class="input" name="message02" type="text" style="width:100%" /></p>
    <label for="message03">Message 3</label>
    <input class="input" name="message03" type="text" style="width:100%" /></p>
    <button class="btn1">>>>Go!<<<</button>
    <label class="label1">Largest text: {{ result }}</label>
</form>
</div>
</body>
</html>