{% extends "base.html" %}

{% block title %}User page{% endblock %}

{% block body %}
    <h1> Форма изменения и удаления пользователя </h1>
    <form action="" method="post">
        {% csrf_token %}
        <h3> Выбранный пользователь: </h3>
        {{ form2 }}<br>
        <p> Измените данные, при необходимости, и сохраните. </p>
        <input type="submit" value="Сохранить данные" name="update_user">
        <input type="submit" value="Удалить пользователя" name="delete_user">
    </form><br>
    <p> {{ mess }} </p>
    <div><a href="{% url 'name-start-page' %}">Вернуться на главную страницу</a></div>
{% endblock %}
